.form-container {
    box-sizing: border-box;
    margin: 40px auto 0 auto;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: -0.01em;

    width: 400px;

    /* NORMAL */
    --fc-border-color: #eceff9;
    --fc-normal-text-color: #0e0b3d;
    --fc-normal-placeholder-color: #b3b8d0;

    /* PRIMARY COLOR | HSL FORMAT*/
    --fc-primary-color-hue: 220;
    --fc-error-color-hue: 356;
    --fc-primary-hsl: var(--fc-primary-color-hue), 100%, 54%;
    --fc-error-hsl: var(--fc-error-color-hue), 100%, 54%;

    /* HOVER */
    --fc-field-hover-bg-color: #f7f9fc;
    --fc-border-hover-color: #dde0ee;
    --fc-field-hover-text-color: #b3b8d0;

    --fc-border-active-color: #1463ff;
}

.form-container * {
    box-sizing: border-box;
}

.form-container label {
    display: block;
    cursor: pointer;
}

.form-container .form-block:not(:first-child) {
    margin-top: 16px;
}

/*=============================================
=            Fields           =
=============================================*/

.form-container input,
.form-container textarea,
.form-container select {
    margin-top: 4px;
    width: 100%;
    height: 42px;
    border: 1px solid var(--fc-border-color);
    color: var(--fc-normal-text-color);
    border-radius: 6px;
    padding: 8px 12px;

    font-family: "Inter", sans-serif;
    font-size: 14px;
    transition: 125ms background, 125ms color, 125ms box-shadow;
}

.form-container input::placeholder,
.form-container textarea::placeholder,
.form-container select::placeholder {
    color: var(--fc-normal-placeholder-color);
}

.form-container input:hover,
.form-container textarea:hover,
.form-container select:hover {
    border-color: var(--fc-border-hover-color);
    background-color: var(--fc-field-hover-bg-color);
}

.form-container input:hover::placeholder,
.form-container textarea:hover::placeholder,
.form-container select:hover::placeholder {
    color: var(--fc-field-hover-text-color);
}

.form-container input:focus,
.form-container textarea:focus,
.form-container select:focus {
    background-color: #fff;
    border-color: hsl(var(--fc-primary-hsl));
    box-shadow: hsla(var(--fc-primary-hsl), 8%) 0px 0px 0px 3px;
    outline: none;
}

.form-container button {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.02em;
    height: 42px;
    line-height: 40px;
    width: 100%;
    border-radius: 6px;
    box-sizing: border-box;
    border: 1px solid hsla(var(--fc-primary-hsl));
    background: #5b4784;
    color: #fff;
    cursor: pointer;
}

.form-container button {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.02em;
    height: 40px;
    line-height: 24px;
    width: 100%;
    border: 0;
    border-radius: 6px;
    box-sizing: border-box;
    background: #5b4784;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 0 0 0 transparent;

    transition: 125ms all;
}

.form-container button:hover {
    background: #5b4784;
}

.form-container button:focus {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        hsla(var(--fc-primary-hsl));
    border-inline: 1px solid inline rgba(255, 255, 255, 0.6);
    box-shadow: 0px 0px 0px 3px rgba(var(--fc-primary-hsl), 12%);
}

.form-container button:active {
    background: #5b4784;
}

.form-container button:disabled {
    background-color: hsla(var(--fc-primary-hsl), 40%);
    cursor: not-allowed;
}

.form-container input:focus:required:invalid,
.form-container input:focus:invalid,
.form-container select:focus:required:invalid,
.form-container select:focus:invalid {
    color: hsl(var(--fc-error-hsl));
    border-color: hsl(var(--fc-error-hsl));
    box-shadow: 0px 0px 0px 3px hsla(var(--fc-error-hsl), 12%);
}

.forgot_password {
    display: flex;
    justify-content: end;
}
/* Form Design Ends */
