* {
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
}

.top_bar{
 background: #F3CC68;
 padding: 1rem;
 display: flex;
 justify-content: flex-end;
}

.top_bar-nav {
  width:30%;
}

.top_bar-nav_container {
  display: flex;
  gap: .8rem;
  justify-content: flex-end;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}